[Desktop Entry]
Name=Ouch Browser
Exec=ouch
Icon=ht.sr.git.shrimple.Ouch
Terminal=false
Type=Application
Categories=Network;WebBrowser
StartupNotify=true
