[Desktop Entry]
Name=Ouch Browser
Comment=Focus on your browsing
Exec=ouch
Icon=site.srht.shrimple.ouch
Terminal=false
Type=Application
Categories=Network;WebBrowser
X-Purism-FormFactor=Workstation;Mobile;
StartupNotify=true
