[Desktop Entry]
Name=Ouch Browser
GenericName=Ouch
Comment=Focus on your browsing
Exec=ouch
Icon=site.srht.shrimple.ouch
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;multipart/related;application/x-mimearchive;message/rfc822;application/x-xpinstall;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;
