[Desktop Entry]
Name=Ouch Browser
Comment=Focus on your browsing
Exec=ouch
Icon=site.srht.shrimple.ouch
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;
